.metadata
*/.classpath
*/.project
*/.settings
*/bin/
*/bin/*
report.aux
report.log
report.log
report.lof
report.out
report.pdf
report.tex~
report.toc
missfont.log
report.lot
report.tex.backup
report.toc~
