<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<xml>
    <Title>Letter Image Recognition Data</Title>
    <Runs>5</Runs>
    <Generations>250</Generations>
    <PopulationSize>50</PopulationSize>
    <DataSet>
        <File>/home/mabbo/datasets/letter-recognition.data</File>
        <DataSetLoader builtin="NumericalDataSetLoader" parameters="classIndex=0"/>
        <TrainPercentage>0.8</TrainPercentage>
        <NumberOfInputs>17</NumberOfInputs>
        <NumberOfClasses>26</NumberOfClasses>
    </DataSet>
    <NodeDescription>
        <Head>5</Head>
        <FunctionSet>
            <Function builtin="SubtractFunction"/>
            <Function builtin="MultiplyFunction"/>
            <Function builtin="AddFunction"/>
            <Function builtin="DivideFunction"/>
            <Function classfile="SineFunction" location="../ExternalLibs/bin"/>
        </FunctionSet>
        <RNC>10</RNC>
    </NodeDescription>
    <NodeLayers>
        <Layer>
            <Nodes>20</Nodes>
        </Layer>
    </NodeLayers>
    <Fitness builtin="AddOneOnCorrect"/>
    <Selection builtin="BasicElitism"/>
    <MutationRate>0.5</MutationRate>
    <Mutators>
        <Mutator builtin="RandomizeGene" weight="1"/>
        <Mutator classfile="Complexify" location="../ExternalLibs/bin" weight="2"/>
        <Mutator builtin="RandomReplacement" weight="1"/>
    </Mutators>
    <Crossovers>
        <Crossover builtin="OnePointPerLayer" weight="3"/>
        <Crossover builtin="CopyParentA" weight="1"/>
    </Crossovers>
    <Processes>
        <StartProcesses>
            <Process builtin="OutputConfig"/>
        </StartProcesses>
        <EndProcesses/>
        <BeforeRunProcesses/>
        <EndRunProcesses>
            <Process builtin="OutputBestScore"/>
            <Process classfile="IncreaseLayerOneSize" location="/home/mabbo/GEP2/ExternalLibs/bin"/>
        </EndRunProcesses>
        <BeforeGenerationProcesses/>
        <EndGenerationProcesses>
            <Process builtin="OutputBestScore"/>
            <Process builtin="RecordBestScoreToFile" parameters="/home/mabbo/GEP2/Tests/Test003-Sizing/output.txt"/>
        </EndGenerationProcesses>
    </Processes>
</xml>
