<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<xml>
    <Title>This is a sample config file</Title>
    <Runs>1</Runs>
    <Generations>500</Generations>
    <PopulationSize>100</PopulationSize>
    <DataSet>
        <File>/home/mabbo/datasets/letter-recognition.data</File>
        <DataSetLoader builtin="NumericalDataSetLoader" parameters="classIndex=0"/>
        <TrainPercentage>0.5</TrainPercentage>
        <NumberOfInputs>17</NumberOfInputs>
        <NumberOfClasses>26</NumberOfClasses>
    </DataSet>
    <NodeDescription>
        <Head>3</Head>
        <FunctionSet>
            <Function builtin="SubtractFunction"/>
            <Function builtin="MultiplyFunction"/>
            <Function builtin="AddFunction"/>
            <Function builtin="DivideFunction"/>
            <Function classfile="Sigmoid" location="../ExternalLibs/bin"/>
            <Function classfile="CosFunction" location="../ExternalLibs/bin"/>
            <Function classfile="SineFunction" location="../ExternalLibs/bin"/>
            <Function classfile="IfLessThan" location="/home/mabbo/GEP/ExternalLibs/bin"/>
        </FunctionSet>
        <RNC>5</RNC>
    </NodeDescription>
    <NodeLayers>
        <Layer>
            <Nodes>100</Nodes>
        </Layer>
        <Layer>
            <Nodes>100</Nodes>
        </Layer>
    </NodeLayers>
    <Fitness builtin="AddOneOnCorrect"/>
    <Selection builtin="BasicElitism"/>
    <MutationRate>0.5</MutationRate>
    <Mutators>
        <Mutator builtin="RandomizeGene" weight="1"/>
        <Mutator classfile="Complexify" location="../ExternalLibs/bin" weight="2"/>
        <Mutator builtin="RandomReplacement" weight="1"/>
    </Mutators>
    <Crossovers>
        <Crossover builtin="OnePointPerLayer" weight="1"/>
        <Crossover builtin="CopyParentA" weight="1"/>
    </Crossovers>
    <Processes>
        <StartProcesses>
            <Process builtin="OutputConfig"/>
        </StartProcesses>
        <EndProcesses/>
        <BeforeRunProcesses/>
        <EndRunProcesses>
            <Process builtin="OutputBestScore"/>
        </EndRunProcesses>
        <BeforeGenerationProcesses/>
        <EndGenerationProcesses>
            <Process builtin="OutputBestScore"/>
            <Process classfile="ModulatingMutation" location="../ExternalLibs/bin"/>
        </EndGenerationProcesses>
    </Processes>
</xml>
