<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<xml>
    <Title>Iris Test</Title>
    <Runs>10</Runs>
    <Generations>100</Generations>
    <PopulationSize>100</PopulationSize>
    <DataSet>
        <File>/home/mabbo/datasets/iris.data</File>
        <DataSetLoader builtin="NumericalDataSetLoader" parameters="classIndex=4"/>
        <TrainPercentage>0.6666</TrainPercentage>
        <NumberOfInputs>5</NumberOfInputs>
        <NumberOfClasses>3</NumberOfClasses>
    </DataSet>
    <NodeDescription>
        <Head>5</Head>
        <FunctionSet>
            <Function builtin="AddFunction"/>
            <Function builtin="SubtractFunction"/>
            <Function builtin="MultiplyFunction"/>
            <Function builtin="DivideFunction"/>
            <Function classfile="SineFunction" location="/home/mabbo/GEP2/ExternalLibs/bin"/>
        </FunctionSet>
        <RNC>10</RNC>
    </NodeDescription>
    <NodeLayers>
        <Layer>
            <Nodes>10</Nodes>
        </Layer>
    </NodeLayers>
    <Fitness builtin="AddOneOnCorrect"/>
    <Selection builtin="BasicElitism"/>
    <MutationRate>0.5</MutationRate>
    <Mutators>
        <Mutator builtin="RandomizeGene" weight="1"/>
        <Mutator builtin="RandomReplacement" weight="1"/>
        <Mutator classfile="Complexify" location="/home/mabbo/GEP2/ExternalLibs/bin" weight="3"/>
    </Mutators>
    <Crossovers>
        <Crossover builtin="CopyParentA" weight="1"/>
        <Crossover builtin="OnePointPerLayer" weight="5"/>
    </Crossovers>
    <Processes>
        <StartProcesses>
            <Process builtin="OutputConfig"/>
        </StartProcesses>
        <EndProcesses/>
        <BeforeRunProcesses/>
        <EndRunProcesses>
            <Process builtin="OutputBestScore"/>
        </EndRunProcesses>
        <BeforeGenerationProcesses/>
        <EndGenerationProcesses>
            <Process builtin="OutputBestScore"/>
            <Process builtin="RecordBestScoreToFile" parameters="/home/mabbo/GEP2/Tests/Test001-Iris/output.txt"/>
            <Process classfile="ModulatingMutation" location="/home/mabbo/GEP2/ExternalLibs/bin" parameters="min=0.1 max=5.0 period=50"/>
        </EndGenerationProcesses>
    </Processes>
</xml>
