<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<xml>
    <Title>Iris Test</Title>
    <Runs>1</Runs>
    <Generations>1000</Generations>
    <PopulationSize>50</PopulationSize>
    <DataSet>
        <File>/home/mabbo/GEP2/Submit/datasets/iris.data</File>
        <DataSetLoader builtin="NumericalDataSetLoader" parameters="classIndex=4"/>
        <TrainPercentage>1.0</TrainPercentage>
        <NumberOfInputs>5</NumberOfInputs>
        <NumberOfClasses>3</NumberOfClasses>
    </DataSet>
    <NodeDescription>
        <Head>5</Head>
        <FunctionSet>
            <Function builtin="IfLessThan"/>
            <Function builtin="AddFunction"/>
            <Function builtin="SubtractFunction"/>
            <Function builtin="MultiplyFunction"/>
            <Function builtin="DivideFunction"/>
            <Function builtin="Sigmoid"/>
            <Function builtin="SineFunction"/>
        </FunctionSet>
        <RNC>10</RNC>
    </NodeDescription>
    <NodeLayers>
        <Layer>
            <Nodes>100</Nodes>
        </Layer>
    </NodeLayers>
    <Fitness builtin="AddOneOnCorrect"/>
    <Selection builtin="BasicElitism"/>
    <MutationRate>0.3</MutationRate>
    <Mutators>
        <Mutator builtin="Complexify" weight="3"/>
        <Mutator builtin="RandomizeGene" weight="1"/>
        <Mutator builtin="RandomReplacement" weight="1"/>
    </Mutators>
    <Crossovers>
        <Crossover builtin="OnePointPerLayer" weight="3"/>
        <Crossover builtin="CopyParentA" weight="1"/>
    </Crossovers>
    <Processes>
        <StartProcesses>
            <Process builtin="OutputConfig"/>
        </StartProcesses>
        <EndProcesses/>
        <BeforeRunProcesses/>
        <EndRunProcesses/>
        <BeforeGenerationProcesses/>
        <EndGenerationProcesses>
            <Process builtin="OutputBestScore"/>
        </EndGenerationProcesses>
    </Processes>
</xml>
